
#about{
    margin-top: 200px;
    margin-left: 150px;
}

#thumsup{
    width: 264px;
    height: 219px;
    margin-bottom: 74px;
}

#p1{
    width: 302px;
    height: 62px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50.362px;
    line-height: 62px;
    text-transform: capitalize;
    color: #5B6CAC;
    margin-bottom: 29px;
}

#p2{
    width: 440px;
    height: 31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26.681px;
    line-height: 31px;
    text-transform: capitalize;
    color: #5B6CAC;
}