#feedback_main{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    margin-left: 160px;
    margin-top: 167px;
    height: 614px;
    width: 400px;
}

#feedback_main .grid-item{
    height: 100px;
}

#para_one{
    width: 389px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20.2px;
    line-height: 23px;
    text-transform: capitalize;
    color: #5B6CAC;
}

#stars_div{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}

#stars_div i{
    width: 70px;
    font-size: 46px;
    color: #8381F7;
    margin-top: -78px;
    text-shadow: 0 0 3px #000;
}

#stars_div i:hover{
    color:#ffff;
}

#para_two{
    width: 257px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16.15px;
    line-height: 18px;
    color: #5B6CAC;
    margin-top: -96px;
}

#options{
    display: grid;
    grid-template-columns: auto auto;
}

#options label{
    width: 151.88px;
    height: 33px;
    background: #8381F7;
    border-radius: 5.0625px;
    color: #ffff;
    text-align: center;
    border: 2px solid #8381F7;
}

#feedback_input{
    width: 360px;
    height: 153.66px;
    background: #FFFFFF;
    border-radius: 10.125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12.15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #5B6CAC;
    margin-top: -79px;
    border: 0px;
}

#feed_sub{
    width: 358px;
    height: 56.62px;
    background: #8381F7;
    box-shadow: 0px 4.05px 20.25px rgba(44, 88, 255, 0.2);
    border-radius: 10.125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;

}