<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'profileDetails.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_bmi.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'health.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_hr.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_steps.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_cal.css' %}">
    <link rel="stylesheet" href="{% static 'genderDob.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        html, body { height: 100%; width: 100%; margin: 0; }
    </style>
</head>


<body style="background: #F6F9FF">
    {% include 'navbar.html' %}

    <div id="health_wealth" class="grid-container">
        <div class="grid-item grid-container">
            <a  id="health" class="grid-item" href="">Health</a>
            
        </div>
        
        <a id="wealth" class="grid-item" href="">Wealth</a>
        <div style="left: 52vw;" id="underline" class="grid-item"></div>
    </div>

    <hr id="hr">
    
    <div id="bmi_left" class="">
        <img id="bmi_left_img" src="{% static "media/measure.png" %}" alt="">

        <div id="bmi_left_bmi_div" style="top: -146.5vh; left: 19.5vw; width: 3vw;">
            <a href="mes_bmi"> BMI <i class="bi-arrow-clockwise"></i></a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -136.5vh; left: 15.5vw; width: 7vw;">
            <a href="mes_heartRate"> Heart Rate <i class="bi-arrow-clockwise"></i></a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -126vh; left: 18.5vw; width: 7vw;">
            <a href=""> Steps <i class="bi-arrow-clockwise"></i></a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -115vh;  left: 18.5vw; width: 3vw;">
            <a href="mes_sleep"> Sleep</a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -105vh; left: 18.5vw; width: 5vw;">
            <a href="mes_waterIntake"> Water Intake </a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -94vh; left: 19vw; width: 4vw;">
            <a href="mes_calories"> Calories</a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -83vh; left: 18vw; width: 6vw;">
            <a href="mes_bp"> Blood Pressure </a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -72vh; left: 18vw; width: 5vw;">
            <a href="mes_bs"> Blood Sugar  </a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -62vh;">
            <a href="mes_immunity"> Immunity</a>
        </div>

        <div id="bmi_left_bmi_div" style="top: -51vh; left: 17vw; width: 6vw;">
            <a href="mes_mentalHealth"> Mental Health </a>
        </div>

        <div  id="bmi_left_bmi_div" style="top: -40vh;">
            <a href="mes_eyeVision"> Eye Vision </a>
        </div>

        <div id="bmi_left_bmi_div" class="bmi_left_bmi_div_12" style="top: -30vh; width: 5vw; height: 4vh; left: 17.5vw;">
            <a href="mes_medication" style="font-size: 13px; width: 7vw;"> Medication & Other Intake</a>
        </div>
    </div>  

    <div id="hr_middle">
        <div id="hr_middle_div1">
            <p id="hr_middle_div1_para1" style="width:15vw;">Calories</p>
            <a href=""><i class="bi-arrow-repeat"></i></a>
        </div>

        <img id="steps_middle_div2" src="{% static "media/mes_cal.png" %}" alt="">

        <div id="steps_middle_div3">
            <p>Today</p>
            <p style="left: 17vw;">04/05/22</p>
        </div>

        <div id="cal_middle_div4">
            <p id="cal_middle_div3_para1">Breakfast</p>
            <input type="text" id="cal_middle_div3_input" placeholder="2 Roti, Sabji (600 kcal)">
            <p id="cal_middle_div3_para2">Upload your Meal</p>
        </div>

        <div id="cal_middle_div4" style="top: 89vh;">
            <p id="cal_middle_div3_para1">Lunch</p>
            <input type="text" id="cal_middle_div3_input" placeholder="2 Roti, Sabji (600 kcal)">
            <p id="cal_middle_div3_para2">Upload your Meal</p>
        </div>

        <div id="cal_middle_div4" style="top: 108vh;">
            <p id="cal_middle_div3_para1">Dinner</p>
            <input type="text" id="cal_middle_div3_input" placeholder="2 Roti, Sabji (600 kcal)">
            <p id="cal_middle_div3_para2">Upload your Meal</p>
        </div>

        <input style="left: 38.5vw; top: 127vh; position: absolute;" type="submit" name="" id="steps_middle_div6" value="Record">
    </div>

    <div id="hr_right">
        <p id="hr_right_para1">Hi Jitendra, You finishes</p>
        <div id="hr_right_div1">
            <img id="hr_right_div1_img" src="{% static "media/mes_hr2.png" %}" alt="">
            <p id="hr_right_div1_para1">03/12</p>
            <p id="hr_right_div1_para2">Measured</p>
        </div>
        <div id="hr_right_div2">
            <p id="hr_right_div2_para1">Sync Google fit</p>
            <a href=""><i id="hr_right_div2_icon" class="bi-arrow-repeat"></i></a>
        </div>
    </div>


</body>
</html>


