
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Prosperity</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/genderDob.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
      select option:first-child{
        color: green;
      }
    </style>

  </head>
  <body style="background:#F6F9FF" >
    <div class="top-div">
      <p class="one" >We Guide you for your Better <b class="two">Health</b></p>
    </div>
    
      <div class="row">
        <div class="col" >
          <img style="width:423px" class="r1" src="{{ url_for('static', path='/Component21.jpg') }}" alt="home" />
        </div>
        <div class="col">
            <div style="background: #FFFFFF;" class="right-div">
              <div id="right_div_first" class="grid-container">
                  <p id="right_div_first_para" class="grid-item">Tell Us,</p>
                  <p id="right_div_first_para" style="top: 7vh; width: 11vw; left: 5.5vw;" >About Yourself</p>
                  <a id="right_div_first_a" style="text-decoration:none;" class="grid-item" href="heightWeight" >skip</a>
              </div>
              <p id="right_div_second">This information lets us know you better for your growth </p>
              <p id="right_div_third">What is your Gender ?</p>
              <form action="" method="POST">
                <div class="grid-container">
                    <select name="gender" id="male_lable" class="form-select grid-item" multiple aria-label="multiple select example">
                        <option id="male" value="male">Male</option>
                    </select>
                    <select name="gender" id="female_lable" class="form-select grid-item" multiple aria-label="multiple select example">
                        <option id="female" value="female">Female</option>
                    </select>
                </div>
                <p id="right_div_fifth">when is your Birthday ?</p>
                <div id="right_div_six">
                    <i  class="bi-calendar4"> <input name="dob" type="date" id="myDate" value="2014-02-09" required></i>
                   
                </div>
                <button style="margin-left: 52px" type="submit" id="right_div_seven"><p class="para">Continue</p></button>
              </form>
            
            </div>
        </div>
      </div>


      <script>

        document.getElementById('male_lable').onclick = changeColor;   
        document.getElementById('female_lable').onclick = changeColor;   

        function changeColor() {
            document.getElementById('male_lable').style.color = "#FFFFFF";
            document.getElementById('male_lable').style.background = "#8381F7";
        }   
      </script>
  </body>
</html>