<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'profileDetails.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
    <div class="grid-container boarder" style="height:188px; background:#8381F7">
        <div class="grid-item"><img class="pic" src="{% static "media/Rectangle 199.jpg" %}" alt=""></div>
        <div class="grid-item"><p class="name">Swapnil Nikam</p></div>
        <div class="grid-item"><p class="des">UX Designer</p></div>
    </div>
    <div class="grid-container lower">
        <div style="width:120px; height: 900px; background:#8381F7"></div>

        <div class="grid-container leftbar">
            <a class="grid-item" href="/profileDetails"><i class="bi-credit-card-2-front-fill"></i>Pesonal Details</a>
            <a href="/profileDocuments" class="grid-item"><i  class="bi-card-heading"></i>Documents</a>
            <a style="background: #ffff" href="/profileCoverage" class="grid-item" ><i  class="bi-shield-fill-plus"></i>My Coverage</a>
            <a href="/profileNotification" class="grid-item" ><i  class="bi-bell"></i>Notification</a>
            <a href="/profilePayments" class="grid-item" ><i  class="bi-cash"></i>Manage Payments</a>
            <a href="/profileFeedback" class="grid-item" ><i  class="bi-chat-left-fill"></i>Feedback</a>
            <a href="/profileAbout" class="grid-item" ><i  class="bi-info-circle"></i>About Us</a>
            <div style="margin-top: -10px"><button class="logout"><a href="/otp"><p style="margin-top:10px">Log Out</p></a></button></div>
       </div>
       
       <div id="myCoverage" class="grid-container ">
            
            <p  class="grid-item" id="para" >Protection</p>
            <div class="grid-item grid-container protection">
            
                <img style="margin-top: 23px;
                margin-left: -37px;
                height: 111px;" class="grid-item" src="{% static "media/Group 185.jpg" %}" alt="">

                 <div class="grid-item grid-container right">

                    <div class="grid-item" id="upperRight">
                        <div class="grid-item">
                            <p id="upperPara">SUD Life Abhay</p>
                            <p><i id="upperParaicon" class="bi-chevron-right"></i>
                                <p id="sumAssured" >Sum Assured</p>
                                <p id="amount">7,25,000/-</p> 
                            </p>
                        </div>
                        <div class="grid-item">
                            <p id="middleright">10/8</p>
                        </div>
                        <div id="line" class="grid-item">
                            <i id="lineicon" class="bi-dot"></i>
                        </div>
                        <div class="grid-item">
                            <p id = "upperpremium">Premium: <b id="bold">7,220/-</b> </p>
                            <p id="upperdue">Due: <b id="bold">24/02/22</b> </p>
                        </div>
                    </div>
                        
                    <div class="grid-item" id="lowerRight">
                        <div style="width:69px;" class="grid-item" >
                            <p id="upperPara">SUD Life Saral Jeevan</p>
                        <p><i id="upperParaicon" class="bi-chevron-right"></i>
                           <p id="sumAssured" >Sum Assured</p>
                           <p id="amount">5,25,000/-</p> 
                        </p>
                        </div>
                        <div class="grid-item">
                            <p id="middlerightlower">4/7</p>
                        </div>
                        <div id="linelower" class="grid-item">
                            <i id="lineicon" class="bi-dot"></i>
                        </div>
                        <div class="grid-item" id="xyz">
                            <p id="lowerpremium">Premium: <b id="bold">9,220/-</b></p>
                            <p id="lowerdue">Due:  <b id="bold">24/02/22</b></p>
                        </div>
                    </div> 

                </div>
            </div>
            <p  class="grid-item" id="para" >Investment</p>
            <div class="grid-item grid-container protection">
            
                <img style="margin-top: 5px;
                margin-left: -28px;
                height: 152px;" class="grid-item" src="{% static "media/Group191.png" %}" alt="">

                 <div class="grid-item grid-container right">

                    <div class="grid-item" id="upperRight">
                        <div class="grid-item">
                            <p id="upperPara">SUD Life E-Wealth Royale</p>
                            <p><i id="upperParaicon" class="bi-chevron-right"></i>
                                <p id="sumAssured" >Sum Assured</p>
                                <p id="amount">2,25,000/-</p> 
                            </p>
                        </div>
                        <div class="grid-item">
                            <p id="middleright">10/8</p>
                        </div>
                        <div id="line" class="grid-item">
                            <i id="lineicon" class="bi-dot"></i>
                        </div>
                        <div class="grid-item">
                            <p id = "upperpremium">Premium: <b id="bold">7,220/-</b> </p>
                            <p id="upperdue">Due: <b id="bold">24/02/22</b> </p>
                        </div>
                    </div>
                        
                    <div class="grid-item" id="lowerRight">
                        <div style="width:69px;" class="grid-item" >
                            <p id="upperPara">SUD Life Century Royale</p>
                        <p><i id="upperParaicon" class="bi-chevron-right"></i>
                           <p id="sumAssured" >Sum Assured</p>
                           <p id="amount">3,25,000/-</p> 
                        </p>
                        </div>
                        <div class="grid-item">
                            <p id="middlerightlower">4/7</p>
                        </div>
                        <div id="linelower" class="grid-item">
                            <i id="lineicon" class="bi-dot"></i>
                        </div>
                        <div class="grid-item" id="xyz">
                            <p id="lowerpremium">Premium: <b id="bold">9,220/-</b></p>
                            <p id="lowerdue">Due:  <b id="bold">24/02/22</b></p>
                        </div>
                    </div> 

                </div>
            </div>

       </div>

    </div>
      
</body>
</html>