<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'profileDetails.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
    <div class="grid-container boarder" style="height:188px; background:#8381F7">
        <div class="grid-item"><img class="pic" src="{% static "media/Rectangle 199.jpg" %}" alt=""></div>
        <div class="grid-item"><p class="name">Swapnil Nikam</p></div>
        <div class="grid-item"><p class="des">UX Designer</p></div>
    </div>
    <div class="grid-container lower">
        <div style="width:120px; height: 900px; background:#8381F7"></div>

        <div class="grid-container leftbar">
            <a class="grid-item" href="/profileDetails"><i class="bi-credit-card-2-front-fill"></i>Pesonal Details</a>
            <a style="background:#ffff" href="/profileDocuments" class="grid-item"><i  class="bi-card-heading"></i>Documents</a>
            <a href="/profileCoverage" class="grid-item" ><i  class="bi-shield-fill-plus"></i>My Coverage</a>
            <a href="" class="grid-item" ><i  class="bi-bell"></i>Notification</a>
            <a href="" class="grid-item" ><i  class="bi-cash"></i>Manage Payments</a>
            <a href="" class="grid-item" ><i  class="bi-chat-left-fill"></i>Feedback</a>
            <a href="" class="grid-item" ><i  class="bi-info-circle"></i>About Us</a>
            <div style="margin-top: -10px"><button class="logout"><a href="/otp"><p style="margin-top:10px">Log Out</p></a></button></div>
       </div>
       
       <div class="grid-container rightgrid">
          <div class="grid-item">
            <div class="grid-container">
                <div class="grid-item">
                    <i class="bi-credit-card-2-front-fill"></i>
                    <div class="grid-container middel">
                        <p id="first">Address Proof:</p>
                        <p id="second">Aadhar Card</p>
                    </div>
                    <label style="margin-top:22px" for="file-input">
                        <i style="font-size:24px; margin-left:40px" class="bi-plus-circle-fill"></i>
                    </label>
                    <input style="  display: none;" type="file" name="" id="file-input">
                </div>
            </div>
         </div>
          <div class="grid-item">
            <div class="grid-container">
                <div class="grid-item">
                    <i class="bi-credit-card-2-front-fill"></i>
                    <div class="grid-container middel">
                        <p id="first">Income Tax Proof:</p>
                        <p id="second">Pan Card</p>
                    </div>
                    <label style="margin-top:22px" for="file-input">
                        <i style="font-size:24px; margin-left:40px" class="bi-plus-circle-fill"></i>
                    </label>
                    <input style="  display: none;" type="file" name="" id="file-input">
                </div>
            </div>
          </div>

       </div>
    </div>     

        
    </div>
      
      
      

</body>
</html>