<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <link rel="stylesheet" href="{% static 'bpTwo.css' %}">
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        html, body { height: 100%; width: 100%; margin: 0; }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div id="two_left">
        <h4 id="two_left_1">Hi, Swapnil Nikam</h4>
        <p id="two_left_1edit">Edit</p>
        <img id="two_left_img" src="{% static "media/two_img.png" %}" alt="">
        <div id="two_left_2">
            <i class="bi-briefcase"></i>
            <p id="two_left_2para" >UX Designer</p>
        </div>

        <div id="two_left_3">
            <i class="bi-calendar4" style="color: #5B6CAC;"></i>
            <p id="two_left_2para" >25 Years Old</p>
        </div>

        <div id="two_left_4">
            <i class="bi-geo-alt" style="color: #5B6CAC; font-size: 20px;"></i>
            <p id="two_left_2para" >Mumbai</p>
        </div>
        
        <hr id="two_left_hr" >
    </div>

    <div id="two_right">
        <p id="two_right_top_para">Choose your Savings Plan</p>

        <div id="two_right_div1">
            <p id="two_right_div1_1" >Pay 12 Years Only</p>
            <p id="two_right_div1_1_benefits">Benefits</p>
            <div id="two_right_div1_2">
                <div id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p>Get 15x Annual Premium at Maturity - ₹ 16.02 Lakhs</p>
                </div>
                <div id="two_right_div1_2_inner2" >
                    <i class="bi-check"></i> 
                    <p>An annual income of ₹ 1,04,750/- from 15th - 40th years ( 25 years: Pay-out term)   </p>
                </div>
                <div id="two_right_div1_2_inner3">
                    <i class="bi-check"></i> 
                    <p>Get 10x of annual premium as dealth benefit in Premium payement term Get 15x of annual premium as dealth benefit in Pay-Out term</p>
                </div>
            </div>

            <div id="two_right_div1_3">
                <div id="two_right_div1_3rupee"><p><img src="{% static "media/rupee.png" %}" alt="">1,00,000/-</p></div>
                <p id="two_right_div1_3gst">Including GST</p>
                <button id="two_right_div1_3button">Select</button>
            </div>
        </div>

        <hr id="two_right_hr">

        <div id="two_right_div1" style="position: relative; top: 33vh">
            <p id="two_right_div1_1" >Pay 7 Years Only</p>
            <p id="two_right_div1_1_benefits">Benefits</p>
            <div id="two_right_div1_2">
                <div id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p>Get 10x Annual Premium at Maturity - ₹ 10.02 Lakhs</p>
                </div>
                <div id="two_right_div1_2_inner2" >
                    <i class="bi-check"></i> 
                    <p>An annual income of ₹ 54,750/- from 10th - 40th years ( 30 years: Pay-out term)   </p>
                </div>
                <div id="two_right_div1_2_inner3">
                    <i class="bi-check"></i> 
                    <p>Get 10x of annual premium as dealth benefit.</p>
                </div>
            </div>

            <div id="two_right_div1_3" style="top: 35vh;">
                <div id="two_right_div1_3rupee"><p><img src="{% static "media/rupee.png" %}" alt="">1,00,000/-</p></div>
                <p id="two_right_div1_3gst">Including GST</p>
                <button id="two_right_div1_3button">Select</button>
            </div>
        </div>
    </div>

    <div id="two_down">
        <div id="two_down_top">
            <p id="two_down_top_para">12 Years Plan Benefits</p>
            <i class="bi-x-lg"></i>
        </div>

        <div id="two_down_div1">
            <div id="two_down_div1_1">
                <img src="{% static "media/incomeBenefits.png" %}" alt="">
                <p>Income Benefit</p>
            </div>

            <p id="two_down_div1_2">The Guaranteed Income is  percentage of Guaranteed Maturity Benefit depending on your Age when policy is issued , income will be paid during the pay-out period
                till the end of policy term provided the policy is in-force. </p>

            <div id="two_down_div1_3">
                <p id="two_down_div1_3_upper">For 7 Pay, 30 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 7 years & get an annual income from <b>10th</b> year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_4">
                <p id="two_down_div1_3_upper">For 12 Pay, 45 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 12 years & get an annual income from <b>15th</b>  year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_5">
                <p>EX- You have purchased 12 pay plan for 45 years with a annual premium of 1 Lakhs you will get an annual income of
                    <b>₹ 1,04,750/-</b> <br>
                    From 15th years till the policy term (45 years) 
                </p>

                <a href="">Learn More <i class="bi-arrow-right"></i></a>
            </div>

        </div>

        <div id="two_down_div2">
            <div id="two_down_div1_1">
                <img src="{% static "media/incomeBenefits.png" %}" alt="">
                <p>Income Benefit</p>
            </div>

            <p id="two_down_div1_2">The Guaranteed Income is  percentage of Guaranteed Maturity Benefit depending on your Age when policy is issued , income will be paid during the pay-out period
                till the end of policy term provided the policy is in-force. </p>

            <div id="two_down_div1_3">
                <p id="two_down_div1_3_upper">For 7 Pay, 30 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 7 years & get an annual income from <b>10th</b> year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_4">
                <p id="two_down_div1_3_upper">For 12 Pay, 45 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 12 years & get an annual income from <b>15th</b>  year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_5">
                <p>EX- You have purchased 12 pay plan for 45 years with a annual premium of 1 Lakhs you will get an annual income of
                    <b>₹ 1,04,750/-</b> <br>
                    From 15th years till the policy term (45 years) 
                </p>

                <a href="">Learn More <i class="bi-arrow-right"></i></a>
            </div>

        </div>

        <div id="two_down_div3">
            <div id="two_down_div1_1">
                <img src="{% static "media/incomeBenefits.png" %}" alt="">
                <p>Income Benefit</p>
            </div>

            <p id="two_down_div1_2">The Guaranteed Income is  percentage of Guaranteed Maturity Benefit depending on your Age when policy is issued , income will be paid during the pay-out period
                till the end of policy term provided the policy is in-force. </p>

            <div id="two_down_div1_3">
                <p id="two_down_div1_3_upper">For 7 Pay, 30 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 7 years & get an annual income from <b>10th</b> year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_4">
                <p id="two_down_div1_3_upper">For 12 Pay, 45 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 12 years & get an annual income from <b>15th</b>  year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_5">
                <p>EX- You have purchased 12 pay plan for 45 years with a annual premium of 1 Lakhs you will get an annual income of
                    <b>₹ 1,04,750/-</b> <br>
                    From 15th years till the policy term (45 years) 
                </p>

                <a href="">Learn More <i class="bi-arrow-right"></i></a>
            </div>

        </div>

        <div id="two_down_div4">
            <div id="two_down_div1_1">
                <img src="{% static "media/incomeBenefits.png" %}" alt="">
                <p>Income Benefit</p>
            </div>

            <p id="two_down_div1_2">The Guaranteed Income is  percentage of Guaranteed Maturity Benefit depending on your Age when policy is issued , income will be paid during the pay-out period
                till the end of policy term provided the policy is in-force. </p>

            <div id="two_down_div1_3">
                <p id="two_down_div1_3_upper">For 7 Pay, 30 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 7 years & get an annual income from <b>10th</b> year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_4">
                <p id="two_down_div1_3_upper">For 12 Pay, 45 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 12 years & get an annual income from <b>15th</b>  year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_5">
                <p>EX- You have purchased 12 pay plan for 45 years with a annual premium of 1 Lakhs you will get an annual income of
                    <b>₹ 1,04,750/-</b> <br>
                    From 15th years till the policy term (45 years) 
                </p>

                <a href="">Learn More <i class="bi-arrow-right"></i></a>
            </div>

        </div>
        
        <div id="two_down_div5">
            <div id="two_down_div1_1">
                <img src="{% static "media/incomeBenefits.png" %}" alt="">
                <p>Income Benefit</p>
            </div>

            <p id="two_down_div1_2">The Guaranteed Income is  percentage of Guaranteed Maturity Benefit depending on your Age when policy is issued , income will be paid during the pay-out period
                till the end of policy term provided the policy is in-force. </p>

            <div id="two_down_div1_3">
                <p id="two_down_div1_3_upper">For 7 Pay, 30 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 7 years & get an annual income from <b>10th</b> year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_4">
                <p id="two_down_div1_3_upper">For 12 Pay, 45 Year Policy Term </p>
                <div style="top: 2.5vh; left: 0vw;" id="two_right_div1_2_inner1">
                    <i class="bi-check"></i> 
                    <p style="width: 27vw;">Pay for 12 years & get an annual income from <b>15th</b>  year till policy term</p>
                </div>
            </div>

            <div id="two_down_div1_5">
                <p>EX- You have purchased 12 pay plan for 45 years with a annual premium of 1 Lakhs you will get an annual income of
                    <b>₹ 1,04,750/-</b> <br>
                    From 15th years till the policy term (45 years) 
                </p>

                <a href="">Learn More <i class="bi-arrow-right"></i></a>
            </div>

        </div>
    </div>
</body>
</html>
