<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'profileDetails.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'sleep.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'heartRate.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'health.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'water.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'steps.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'bloodSugar.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        html, body { height: 100%; width: 100%; margin: 0; }
    </style>
</head>


<body style="background: #F6F9FF">
    {% include 'navbar.html' %}

    <div id="health_wealth" class="grid-container">
        <div class="grid-item grid-container">
            <a  id="health" class="grid-item" href="">Health</a>
            <div id="underline" class="grid-item"></div>
        </div>
        
        <a id="wealth" class="grid-item" href="">Wealth</a>
    </div>

    <hr id="hr">
    
    <div id="bioage_lower" class="grid-container">
        <div id="leftcol" class="grid-item grid-container leftbar_bioage">
            <a class="grid-item" href="/bioage">      <img src="{% static "media/arm.png" %}" alt=""> Bio Age</a>
            <a href="/sleep" class="grid-item">    <img style="margin-right: 3px;" src="{% static "media/sleeping.png" %}" alt=""> Sleep</a>
            <a href="/heartRate" class="grid-item" >    <img style="margin-right: -2px; margin-left: -4px;" src="{% static "media/heartrate.png" %}" alt=""> Heart Rate</a>
            <a href="/water" class="grid-item"> <img style="margin-right: 4px;" src="{% static "media/drop.png" %}" alt=""> Water</a>
            <a href="/steps" class="grid-item" >    <img style="margin-right: 4px;" src="{% static "media/running.png" %}" alt=""> Steps</a>
            <a style="background:#ffff" href="/bloodSugar" class="grid-item" >    <img style="margin-right: -8px; margin-left: -4px;" src="{% static "media/drop2.png" %}" alt=""> Blood Sugar</a>
            <a href="/bloodPressure" class="grid-item" >       <img style="margin-right: 18px; margin-left: 5px;" src="{% static "media/drop3.png" %}" alt=""> Blood Pressure</a>
            <a href="/bmi" class="grid-item" >    <img src="{% static "media/stopwatch.png" %}" alt=""> BMI</a>
            <a href="/profileAbout" class="grid-item" >       <img style="margin-left: 3px;" src="{% static "media/flame.png" %}" alt=""> Calories</a>       
        </div>
          
        <div id="rightcol_bioage" class="grid-item grid-container">
            <div id="one" class="grid-item grid-container">
                   <h1 class="grid-item">Blood Sugar</h1>
                   <a style="width: 2vw;"  class="grid-item" href=""><i id="one_icon1" class="bi-arrow-repeat"></i></a>
                   <i id="one_icon2" class="bi-three-dots-vertical grid-item"></i>
            </div>

            <div id="two" class="grid-item grid-container">
                <div style="width: 8vw;" class="grid-item">
                    <p id="two_para1"><b id="age" >144</b><b id="age" ></b>mg/dL</p>
                    <p style="width: 165px" id="two_para2">Normal Range: 60-100 mg/dL </p>
                </div>
                <div style="width: 11vw; margin-left: 10px;" class="grid-item">
                    <i style="color:#F7C881;" id="two_icon" class="bi-exclamation-triangle"></i>
                    <p style="color:#F7C881;" id="two_para3">You are
                        at Low Risk </p>
                </div>
            </div>

            <div id="three" class="grid-item">
                <h3>Highlights</h3>
            </div>
            
            <div style="height: 28vh;" id="heart_four" class="grid-item">
                <p id="four_para1" >Sugar Level <img style="margin-left: 10px;" src="{% static "media/runnn.png" %}" alt=""></p>
                <div id="four_div1" class="grid-container">
                    <p id="four_para2" class="grid-item">Hey, your sugar level is rising consult a doctor now and complete your walking goal. </p>
                    <img style="top: 2vh;" id="heart_four_img" class="grid-item" src="{% static "media/emoji.png" %}" alt="">
                </div>
                
                <hr id="heart_hr">
                <p style="font-size: 13.936px;" id="four_para3">Daily Target </p>
                <p style="left: 8vw;" id="heart_four_para4"><b>1,732</b> Steps</p>
                <div id="four_div2" > <div></div></div>
                <p id="steps_four_0">0</p>
                <p id="steps_four_target6000">Target: 6000</p>

            </div>

            <div style="top: 48vh;" id="water_five" class="grid-container">
                <div id="water_five_first" class="grid-item"></div>
                <div id="water_five_second" class="grid-item grid-container">
                        <div style="line-height: 29px;" id="sugar_five_second_one" class="grid-item">
                            <p>144</p>
                            <p>120</p>
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                        
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>M</p>
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                        
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>T</p>
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                            
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>W</p>
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                            
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>T</p>
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                           
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>F</p>
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>S</p>
                            <div id="range1" style=""></div>
                            
                        </div>
                        <div style="  position: relative; left: 3vw;" id="five_lower_col2" class="grid-item">
                            
                            <div id="range2" style=""></div>
                            <div id="range3" style="" ></div>
                            <p>S</p>
                        </div>
                </div>
            </div> 
            
            <div style="top:66vh"  id="six" class="grid-item">
                <div id="heart_six_upper" class="grid-container">
                    <div style="background: #ffff;margin-left: 59px;" class="grid-item">
                        <p style="color:#5B6CAC" >Day</p>
                    </div>
                    <div style="margin-left: -3px; background:#5B6CAC" class="grid-item">
                        <p style="color: #ffff; margin-left: -4px;">Week</p>
                    </div>
                    <div style="background: #ffff;" class="grid-item">
                        <p>Month</p>
                    </div>
                </div>
                <div>
                    <p id="heart_six_lower" >Factor affecting Heart Rate</p>
                </div>
            </div>

            <div style="top: 79vh;" id="heart_seven" class="grid-item grid container">
                <div class="grid-item grid-container">
                    <p id="heart_seven_upper_para" class="grid-item">Steps </p>
                    <img class="grid-item" src="{% static "media/runnn.png" %}" alt="">

                    <p id="heart_seven_middle_para"><b>5,142</b>/6,000</p>
                    <div id="heart_seven_lower_div" > <div></div></div>
                </div>
                <div class="grid-item grid-container">
                    <p id="heart_seven_upper_para" class="grid-item">BMI</p>
                    <img class="grid-item" src="{% static "media/stopwatch.png" %}" alt="">

                    <p id="heart_seven_middle_para"><b>30.5</b>kg/m</p>
                    <p id="heart_seven_lower_para">Normal range 20-25</p>
                </div>
                
            </div>


           
        </div>

        <div id="heart_eight" class="grid-item" >
            <p id="heart_eight_heading">Disease</p>

            <div style="border: 2px solid #F7C881; height: 36vh;" id="water_eight_box">

                <div id="heart_eight_1stbox"  class="grid-container">
                    <p id="heart_eight_1stbox_para" class="grid-item" >You are at low risk for Diabetes</p>

                    <div id="water_eight_1stbox_div" class="grid-item">
                        <i style="color:#F7C881;" id="water_two_icon" class="bi-exclamation-triangle"></i>
                        <p style="color:#F7C881;" id="water_two_para3">Low Risk </p>
                    </div>
                </div>
                <ul style="left: 0vw; top: 7vh; width: 19vw;" id="heart_eight_ul" >
                    <li>Type 1 diabetes is an autoimmune disease. The immune system attacks and destroys cells in the pancreas, where insulin is made. It’s unclear what causes this attack. About 10 percent of people with diabetes have this type.</li>
                    <li>Type 2 diabetes occurs when your body becomes resistant to insulin, and sugar builds up in your blood.</li>
                    <a style="color:#F7C881;left: 14vw; top: 24vh;" id="water_eight_learn_more" href="">Learn More<i class="bi-arrow-right"></i></a>
                </ul>
                
            </div>
        </div> 


    </div>  

    
</body>
</html>



