<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'profileDetails.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_bmi.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'health.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_hr.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_income.css' %}">
    {% load static %} <link rel="stylesheet" href="{% static 'mes_saving.css' %}">
    <link rel="stylesheet" href="{% static 'genderDob.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        html, body { height: 100%; width: 100%; margin: 0; }
    </style>
</head>


<body style="background: #F6F9FF">
    {% include 'navbar.html' %}

    <div id="health_wealth" class="grid-container">
        <div class="grid-item grid-container">
            <a  id="health" class="grid-item" href="">Health</a>
            
        </div>
        
        <a id="wealth" class="grid-item" href="">Wealth</a>
        <div style="left: 52vw;" id="underline" class="grid-item"></div>
    </div>

    <hr id="hr">
    
    <div id="bmi_left" class="">
        <img id="bmi_left_img" src="{% static "media/mes_wealth.png" %}" alt="">

        <div id="income_left_div">
            <div id="bmi_left_bmi_div" style="top: -146.5vh; left: 18.5vw; width: 7vw; height: 2.3vh;">
                <a href="mes_income"> Income <i class="bi-arrow-clockwise"></i></a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -136.5vh; left: 17.5vw; width: 6vw; height: 2.3vh;">
                <a href="mes_expense"> Expense <i class="bi-arrow-clockwise"></i></a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -127vh; left: 18.5vw; width: 10vw; height: 2.3vh;">
                <a href="mes_saving"> Savings <i class="bi-arrow-clockwise"></i></a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -117vh;  left: 16.5vw; width: 8vw; height: 2.3vh;">
                <a href="mes_sleep" style="width:9vw;"> Emergency Funds</a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -108vh; left: 18.5vw; width: 5vw; height: 2.3vh;">
                <a href="mes_assets"> Assets </a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -98vh; left: 18vw; width: 6vw; height: 2.3vh;">
                <a href="mes_inv"> Investments</a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -88vh; left: 18vw; width: 6vw; height: 2.3vh;">
                <a href="mes_bp"> Liability </a>
            </div>
    
            <div id="bmi_left_bmi_div" style="top: -79vh; left: 18vw; width: 6vw; height: 2.3vh;">
                <a href="mes_bs"> Insurance  </a>
            </div>
        </div>
    </div>  

    <div id="income_middle" style=" position: absolute; top: 209vh;" >
        <div id="hr_middle_div1">
            <p id="hr_middle_div1_para1" style="width: 18vw;">Add Vehicles</p>
        </div>

        <div id="income_middle_div1" style="top: -167vh;">
            <p id="income_middle_div1_para1">Vehicle Buying Price</p>
            <input inputmode="numeric" id="dropdownMenuButton1" placeholder="₹ Enter Amount">
        </div>

        <div id="income_middle_div1" style="top: -153vh;">
            <p id="income_middle_div1_para1">Buying Date</p>
            <input type="date" id="dropdownMenuButton1" placeholder="DD/MM/YYY" style="width: 16vw;">
        </div>

        <div id="income_middle_div1" style="top: -139vh;">
            <p id="income_middle_div1_para1">Current Value</p>
            <input inputmode="numeric" id="dropdownMenuButton1" placeholder="₹ Enter Amount">
        </div>

        <input type="submit" name="" id="income_middle_div5" value="Record" style="top: -125vh; left: 39vw;">
    </div>

    <div id="hr_right">
        <p id="hr_right_para1">Hi Jitendra, You finishes</p>
        <div id="hr_right_div1">
            <img id="hr_right_div1_img" src="{% static "media/mes_hr2.png" %}" alt="">
            <p id="hr_right_div1_para1">03/12</p>
            <p id="hr_right_div1_para2">Measured</p>
        </div>
        <div id="hr_right_div2">
            <p id="hr_right_div2_para1">Sync Google fit</p>
            <a href=""><i id="hr_right_div2_icon" class="bi-arrow-repeat"></i></a>
        </div>
    </div>

    
   

   

</body>
</html>


