.boarder{
	background: #8381F7;
	height: 188px;
}
 
.pic {
	background: #8381F7;
	margin-left: 140px;
	width: 100px;
	height: 100px;
	/* background: url(.png); */
	border-radius: 1000px;
}

.name {
	width: 247px;
height: 48px;
 margin-left: 270px;
margin-top: 150px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
color: #F6F9FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 500px;
}

li a {
  display: block;
  color: #5B6CAC;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
} */