#add_card_main{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    height: 70px;
    margin-left: 159px;
    margin-top: 177px;
    width: 472px;
}

#add_card{
    width: 204px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 25.182px;
    line-height: 24px;
    color: #5B6CAC;
    margin-bottom: 23px;
}

#add_card_para{
    width: 200px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21.829px;
    line-height: 24px;
    text-transform: capitalize;
    color: #5B6CAC;
}

#add_card_input{
    width: 399.59px;
    height: 62.47px;
    background: #FFFFFF;
    box-shadow: 0px 3.95732px 19.7866px rgba(44, 88, 255, 0.2);
    border-radius: 9.89329px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19.829px;
    color: #5B6CAC;
    border: 0px;
    margin-bottom: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#add_card_third{
    display: grid;
    grid-template-columns: auto auto;
}

#add_card_bt_para{
    width: 377.6px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14.872px;
    line-height: 18px;
    color: #5B6CAC;
}

#btn{
    width: 398.33px;
    height: 60.89px;
    background: #8381F7;
    box-shadow: 0px 3.9916px 19.958px rgba(44, 88, 255, 0.2);
    border-radius: 9.97899px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.966px;
    color: #FFFFFF;
    margin-top: 13px;
}





#add_bank_main{
    display: grid;
    grid-template-rows: auto auto auto;
    height: 70px;
    margin-left: 159px;
    margin-top: 177px;
    width: 472px;
}

#popular{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    width: 383px;
    height: 338px;

background: #FFFFFF;
box-shadow: 0px 3.99999px 19.9999px rgba(44, 88, 255, 0.1);
border-radius: 9.99997px;
}

#popular_lower{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    width: 383px;
    height: 686px;
    background: #FFFFFF;
    box-shadow: 0px 3.99999px 19.9999px rgba(44, 88, 255, 0.1);
    border-radius: 9.99997px;
    margin-top: 10px;
}

#inner_div{
    display: grid;
    grid-template-columns: auto auto; 
    margin-left: 6px;
}

#inner_div img{
    width: 47px;
height: 31px;
}

#inner_div a{
    width: 275px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    color: #5B6CAC;
    text-decoration: none;
}

hr {
    width: 341px;
    height: 0px;
    left: 596px;
    top: 537.05px;
    opacity: 0.1;
    border: 0.983017px solid #5B6CAC;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 22px;
  }