.boarder {
  background: #8381F7;
  height: 188px;
}

.grid-container.boarder .grid-item .pic {
  margin-top: 44px;
  margin-left: 140px;
  background: #8381F7;
  border-radius: 1000px;
}


.grid-item .name {
  width: 247px;
  height: 48px;
  margin-left: 270px;
  margin-top: -99px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F6F9FF;

}

.grid-item .des {
  width: 200px;
  height: 30px;
  margin-left: 270px;
  top: 208px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #F6F9FF;

}

.grid-container.leftbar {
  display: grid;
  grid-template-columns: auto;
  width: 320px;
  height: 600px;
  margin-top: 116px;
  background: rgba(131, 129, 247, 0.4);
  margin-left: 119px;
}

.grid-container.leftbar .grid-item {
  width: 300px;
  height: 70px;
  margin-left: 28px;
  padding-left: 10px;
  list-style-type: none;
  font-size: 20px;
}

.grid-container.leftbar .grid-item {
  margin-top: 15px;
  margin-left: 27px;
  text-decoration: none;
}

.grid-container.leftbar .grid-item i {
  margin-right: 17px;
  font-size: 28px;
  color: #2445c0;
}

.logout {
  /* margin-left: 233px; */
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 4%;
  width: 320px;
  height: 50px;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #F6F9FF;
  border: #5B6CAC solid 1px;
}

.rightcol .rightcollist {
  list-style: none;
  margin-bottom: 30px;
  margin-left: 44px;
}

.rightcol .rightcollist p {
  width: 200px;
  height: 21px;
  left: 577px;
  top: 428px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20.8758px;
  line-height: 21px;
  color: #475897;
}

.rightcol .rightcollist input {
  width: 324px;
  height: 47.87px;
  left: 577px;
  top: 462.69px;

  background: #FFFFFF;
  box-shadow: 0px 2.77516px 27.7516px rgba(44, 88, 255, 0.2);
  border-radius: 6.9379px;
  border: #c3c6cc;
}

input[type="text"]::placeholder {
  margin-left: 20px;
  /* text-align: center; */
}

.grid-container.lower {
  display: grid;
  grid-template-columns: 120px 400px auto;
}

.rightgrid {
  margin-top: 138px;
  margin-left: 89px;
}

.grid-container.rightgrid {
  list-style: none;
  margin-bottom: 30px;
  margin-left: 140px;
  margin-top: 160px;

}

.grid-container.rightgrid .grid-item {
  width: 360.09px;
height: 77.54px;
left: 577px;
top: 436px;
margin-bottom: 50px;
background: #FFFFFF;
box-shadow: 0px 2.7931px 27.931px rgba(44, 88, 255, 0.2);
border-radius: 6.98276px;
}

.grid-container.rightgrid .grid-item p {
  width: 200px;
  height: 21px;
  left: 577px;
  top: 428px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13.8758px;
  line-height: 21px;
  color: #475897;
}

.grid-container.rightgrid .grid-item .grid-container .grid-item{
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container.rightgrid .grid-item .grid-container .grid-item i{
  margin-top: 10px;
  font-size: 35px;
  color: #c8c8dc;
  margin-left: 13px;
}


.grid-container.middel{
  display: grid;
  grid-template-columns: auto;
}

.grid-container.rightgrid .grid-item .grid-container .grid-item .grid-container.middel .first{
  margin-top: 10px;
  margin-left: -23px;
  font-size: 12px;
  color: #c8c8dc;
}

#first{
  margin-top: 10px;
  margin-left: -6px;
  font-size: 12px;
  color: #c8c8dc;
}

#second{
  font-size: 22px;
  margin-top: -15px;
  margin-left: -8px;
}
